{% layout html %}

{% block main %}
    {% if postcard %}
        <section class="container container--wide">
            {% image postcard, title %}
        </section>
    {% endif %}

    <article class="container">
        <div class="content">
            {{ content }}
        </div>
    </article>
{% endblock %}
